﻿@{
    var AjRes = (HYUtils.OpenSource.Models.AjaxProcessResult)ViewBag.AjaxResult;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="/Scripts/jquery-1.8.3.min.js"></script>
    <script src="/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <title>@ViewBag.Title</title>
    <link href="/Content/Site.css" rel="stylesheet" />
    <link href="/Content/DataStyle.css" rel="stylesheet" />
    <link href="/Content/HYUtils.css" rel="stylesheet" />
    <link href="/Content/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
</head>
<body>
    <div class="loadingElement" id="mainLoading" style="display: none;">
        <div class="img"></div>
    </div>
    <div id="body">
        <div id="header">
            <div id="Logo"></div>
        </div>
        <div id="page" dir="rtl">
            <div id="Right-menu">
                <ul>
                    <li id="Logon-Menu" class="menu-content">
                        @Html.Action("Login", "Home", new { area = "" })
                    </li>
                    <li id="Access-Menu" class="menu-content">
                        @Html.Action("Menu", "Home", new { area = "" })
                    </li>
                </ul>
            </div>
            <div>
                <div id="main">
                    @if (AjRes != null)
                    {
                        <div id="PostBackResult">
                            @Html.Partial("AjaxProcess", AjRes)
                        </div>
                    }
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
