﻿@using HYUtils.OpenSource.Models;
@model AjaxProcessResult
@{
    Layout = null;
    var alert = "";
    var script = "";
    foreach (var i in Model.Results.Where(q => (q.Value.MessageType & (byte)AjaxResultMessageType.Alert) != 0))
    {
        alert += i.Value.Message;
    }
    foreach (var i in Model.Script)
    {
        script += i;
    }

    string locationScript = "";

    if (!string.IsNullOrEmpty(Model.LocationTarget))
    {
        locationScript = "$('#" + Model.LocationTarget + "').load('" + Model.Location + "');";
    }
    else if (!string.IsNullOrEmpty(Model.Location))
    {
        locationScript = "window.location = '" + Model.Location + "';";
    }
}
<script type="text/javascript">
    $(function () {
        @(!string.IsNullOrEmpty(alert) ? new HtmlString("alert('" + alert + "');") : new HtmlString(""))
        @(new HtmlString(script))
        @(new HtmlString(locationScript))
    });
</script>
<ul>
    @foreach (var res in Model.Results.Where(q => (q.Value.MessageType & (byte)AjaxResultMessageType.Text) != 0))
    {
        <li>
            <span class="@(res.Value.Success ? "green" : "red")">@(res.Value.Message)</span>
        </li>
    }
</ul>
