﻿@model Shary.Data.CMS.Post

@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    function ExpandAutoList(id) {
        var tmp = $(".auto-list .template").clone().removeClass('template').css('display', '').append("<div class='distructor' onclick='$(this).parents(\":first\").remove();'>-</div>");
        $(".auto-list#" + id + " .body").append(tmp);
    }
    $(function () {
        $(".auto-list").append("<div class='body'></div><div class='footer'></div>");
        $(".auto-list").each(function () {
            var id = $(this).attr('id');
            ExpandAutoList(id);
            $(this).find('.footer').append("<div class='generator' onclick=\"ExpandAutoList('" + id + "');\">+</div>");
        });
        $(".auto-list .template").hide();
    });
</script>
<fieldset>
    <legend>پست های من</legend>
    <div id="post-list">
        @Html.Action("PostIx", new { manage = true, PageIndex = 0, PageSize = 10 })
    </div>
</fieldset>
<fieldset>
    <legend>ایجاد پست جدید</legend>
    @using (Html.BeginForm("Manage", "Post", new { area = "Post" }, FormMethod.Post, new { id = "CreatePost", enctype = "multipart/form-data" }))
    {
        <table class="form">
            <tr>
                <td class="lable">عنوان</td>
                <td>@Html.EditorFor(q => q.Title)</td>
            </tr>
            <tr>
                <td class="lable">توضیحات</td>
                <td>@Html.TextAreaFor(q => q.Context, new { rows = "4", cols = "100" })</td>
            </tr>
            <tr>
                <td class="lable">تگ</td>
                <td dir="ltr">
                    <input id="tag" name="tag" type="text" /><br />
                    <span >Example: important,test,yahoo</span>
                </td>
            </tr>
            <tr>
                <td class="lable">انتخاب فایل:
                </td>
                <td>
                    <div class="auto-list" id="files">
                        <div class="template">
                            <input style="width: 90%;" title="files" type="file" name="files" value="" />
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input id="CreatePost" type="submit" value="ثبت و ارسال" />
                </td>
            </tr>
        </table>
    }
</fieldset>
