﻿@using Shary.Data.CMS
@model Shary.Data.CMS.Post
@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model != null)
{
    <fieldset>
        <legend>@(Model.Title)</legend>
        <div>
            <textarea readonly="readonly" class="ViewOnly">@(Model.Context)</textarea>
        </div>
        <table>
            @foreach (var lnk in Model.Links)
            {
                <tr>
                    <td>
                        <img class="thumbnail" title="@(lnk.Name)" src="data:image/gif;base64,@(Convert.ToBase64String(HYUtils.OpenSource.Graphic.Captcha.GenerateImage(75, 75, lnk.Type, false)))" />
                    </td>
                    <td>
                        @Html.ActionLink(lnk.Name + "." + lnk.Type, "File", "Download", new { area = "Download", id = lnk.Id }, new { })</td>
                </tr>
            }
        </table>
    </fieldset>
}