﻿@model IList<Shary.Data.CMS.Post>
@{
    Layout = null;
    int i = 0;
    bool? manage = ViewBag.manage;
    manage = manage.HasValue ? manage : false;
}

<table class="data-list">
    <thead>
        <tr>
            <th>ردیف</th>
            <th>عنوان</th>
            <th>خلاصه توضیحات</th>
            <th>Tags</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <td class="center-text">@(++i)</td>
                <td class="center-text">@(post.Title)</td>
                <td>@(post.Brif)</td>
                <td>@post.Tags</td>
                <td style="width: 75px;">
                    @if (manage.Value)
                    {
                        <span>@Ajax.ActionLink("حذف", "Delete", "Post", new { id = post.Id, area = "Post" }, new AjaxOptions { Confirm = "آیا از حذف این پست اطمینان دارید؟", HttpMethod = "Post", LoadingElementId = "mainLoading", UpdateTargetId = "postActionRes" }) |</span><br />
                    }
                    <span class="lable">
                        @Html.ActionLink("ادامه مطلب...", "Post", "Post", new { area = "Post", id = post.Id }, new { })
                    </span>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
    </tfoot>
</table>
<div id="postActionRes"></div>
