﻿.data-list {
    width: 100%;
    padding: 1px 0 5px 0;
    border: solid 1pt #aaa;
    background-color: white;
    border-radius: 5pt;
    border-spacing: 0;
    line-height: 2em;
}

    .data-list th {
        background-color: #ccc;
    }

.center-text {
    text-align: center;
}

/*  ---------------------------------  */
/*  Donload Link & Timer  */
.Timer {
    width: 150px;
    height: 75px;
    border-radius: 5pt;
    background-color: #5599bb;
    opacity: 0.8;
    text-align: center;
    vertical-align: central;
    margin-left: auto;
    margin-right: auto;
}

    .Timer .time {
        font-family: 'Comic Sans MS';
        font-size: 40px;
        color: black;
        font-weight: bolder;
    }

.DownloadLink {
    width: auto;
    min-width: 150px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding:10pt;
    height: 75px;
    border-radius: 5pt;
    background-color: #55bb99;
    text-decoration: none;
    color: black;
    font-family: 'Comic Sans MS';
    opacity: 0.9;
}

/*  ---------------------------------  */
