﻿.auto-list {
    width: 100%;
    border: solid 1px #bff18d;
}

    .auto-list .body {
        width: 100%;
        text-align: center;
    }

        .auto-list .body .distructor {
            float:left;
            width:24px;
            height:24px;
            cursor: pointer;
            background-color: #f1bf8d;
            text-align:center;
        }

    .auto-list .footer {
        width: 100%;
        background-color: #ffffcc;
    }

        .auto-list .footer .generator {
            width: 24px;
            height: 24px;
            margin-left: auto;
            margin-right: auto;
            cursor: pointer;
            background-color: #bff18d;
            text-align: center;
        }
