﻿body {
    color: #232323;
    background-color: #eef;
}

    body * {
        margin: 0;
        padding: 0;
        font-size: 10pt;
        font-family: 'Times New Roman';
    }

#body {
    table-layout: auto;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color: red;
    min-height: 400px;
    position: relative;
    padding: 0;
    border: solid #ccc 1pt;
    border-radius: 5px;
}

    #body * {
        direction: rtl;
    }

#page {
    display: inline-block;
    width: 100%;
}

header, footer, nav, section {
    display: block;
}

#Logo {
    background-image: url("images/SharyLogo.png");
    background-size: 25%;
    background-position: center;
    background-color: #ffec56;
    background-repeat: no-repeat;
    height: 132px;
    width: 100%;
}

/* Styles for Main
-----------------------------------------------------------*/
#main {
    background-color: #fff;
    border: solid #ccc 1pt;
    border-radius: 5px;
    overflow: auto;
    min-height: 320pt;
    margin: 4pt;
}

/* Styles for basic Menues
-----------------------------------------------------------*/
#Right-menu {
    display: block;
    background-color: #fff;
    border: solid #ccc 1pt;
    border-radius: 5px;
    margin: 4pt;
    padding: 5pt;
    width: 23%;
    overflow-x: auto;
    float: right;
}

    #Right-menu > ul, #Right-menu .menu-content > ul {
        list-style: none outside none;
        width: 100%;
    }

        #Right-menu > ul > li {
            margin-top: 2px;
        }

            #Right-menu > ul > li * {
                margin: 2px;
                margin-bottom: 0;
                padding: 1px;
            }

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 5pt;
    min-height: 125px;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
}

textarea {
    min-height: 75px;
    padding: 5pt;
}

    textarea.ViewOnly {
        width: 100%;
    }

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

.lable {
    text-wrap: none;
}

fieldset .form {
    min-width: 50%;
    line-height: 2em;
    border-spacing: 5px;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: red;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: red;
}

.validation-summary-valid {
    display: none;
}

/* colorizing classes */
/*-----------------------------------------------------*/
.red {
    color: red;
}

.green {
    color: green;
}

/* Loading Element */
/*-----------------------------------------------------*/
.loadingElement {
    width: 100%;
    height: 1024px;
    opacity: 0.25;
    background-color: black;
    position: absolute;
    z-index: 1000;
}

    .loadingElement .img {
        margin-top: 256px;
        margin-left: auto;
        margin-right: auto;
        background-image: url('/Content/images/loading.gif');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 50px;
        height: 50px;
    }
