﻿@model Shary.Data.Download.DownloadSession
@{
    Layout = null;
}

<div style="text-align: center; width: 100%;">
    <a class="DownloadLink" href="@Url.Action("Download", new { id = Model.Id })">@("Download: " + Model.Link.Name + "." + Model.Link.Type +" "+ (Model.Link.Size / 1024) + " KB")</a>
</div>
