﻿@model Shary.Data.Download.Link
@{
    ViewBag.Title = "File";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var wait = (Shary.Areas.Download.Models.DownloadWaiteTime)ViewBag.wait;
}
<div>
    <div style="width: 100%; padding: 10pt;">
        <p style="font-weight: bold; font-size: medium; padding: 5pt;">
            تا چند لحظه ی دیگر لینک شما آماده می شود.
        </p>
        <p style="font-weight: bold; font-size: medium; padding: 5pt;">
            در صورتی که به عضویت سایت در آیید دیگر برای دریافت فایل منتظر نخواهید ماند و همچنین سرعت دانلود شما نیز افزایش پیدا خواهد کرد؟
        </p>
        <p>
            <span>نام فایل:</span><span>@(Model.Name + "." + Model.Type)</span>
        </p>
    </div>
    <div id="link" style="width: 100%;">
        @Html.Partial("Timer", wait)
    </div>
</div>
