﻿@model Shary.Areas.Download.Models.DownloadWaiteTime
@{
    Layout = null;
    var lnkUrl = Url.Action("DownloadLink", new { id = Model.DownloadSessionId });
}

<script type="text/javascript">
    var w = 0;
    var interval = setInterval(setTimer, 1000);
    $(function () {
        @("w = " + Model.waite + ";")
    })
    function setTimer() {
        w--;
        if (w > 0) {
            $(".Timer .time").html(w);
        }
        else {
            $(".Timer").parents(":first").load('@(lnkUrl)');
            clearInterval(interval);
        }
    }

</script>

<div class="Timer">
    <div class="time">@(Model.waite)</div>
</div>
