﻿@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        $("#cpr").click(function () {
            $("#captcha").load("@(Url.Action("captcha"))");
        });
    });
</script>
<div id="captcha">
    <a id="cpr">
        <img alt="Reload" src="@(Url.Action("captchaImage", new { id = DateTime.Now.Millisecond }))" />
    </a>
    <div>
        <input dir="ltr" type="text" name="captcha" maxlength="6" />
    </div>
</div>
