﻿@model IEnumerable<Shary.Data.CMS.Post>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<fieldset>
    <legend>آخرین فایل های افزوده شده</legend>
    @Html.Partial("~/Areas/Post/Views/Post/PostIx.cshtml", Model)
</fieldset>
