﻿@model Shary.Data.CMS.User
@using Shary.Models;
@{
    Layout = null;
}

@if (Model.ISAnonymous)
{
    <script src="/Scripts/jquery.validate.min.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">
        $(function () {

            $(".login_type").click(function () {
                var val = $(this).val();
                if (val == 1) {
                    $("#SignUp_Parameters").slideUp().find("input").attr("disabled", "disabled");
                }
                else {
                    $("#SignUp_Parameters").slideDown().find("input").removeAttr("disabled");
                }
            });
        });
    </script>
    using (Ajax.BeginForm("DoLogin", "Home", new { area = "" }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "result", LoadingElementId = "mainLoading" }, new { id = "Login" }))
    {
    <fieldset>
        <legend>شناسایی کاربران</legend>
        <div style="text-align: center;">
            <div style="text-wrap: none;">
                <input class="login_type" type="radio" name="login_type" value="1" checked="checked" /><span class="lable">ورود به سایت</span>
                |
                    <input class="login_type" type="radio" name="login_type" value="2" /><span class="lable">عضویت در سایت</span>
            </div>
            <div>
                <span class="lable">نام کاربری(رایانامه):</span><br />
                <span>@Html.TextBox("Mail", "")</span>
                <span>@Html.ValidationMessageFor(x => x.Mail)</span>
            </div>
            <div>
                <span class="lable">کلمه ی عبور:</span><br />
                <span>@Html.Password("Password")</span>
                <span>@Html.ValidationMessageFor(x => x.Password)</span>
            </div>
            <div id="SignUp_Parameters" style="display: none;">
                <div>
                    <span class="lable">تکرار کلمه ی عبور:</span><br />
                    <span>@Html.Password("RePass", "", new { disabled = "disabled" })</span>
                    <span id="rePassVlidation" class="red"></span>
                </div>
                <div>
                    <span class="lable">نام مستعار:</span><br />
                    <span>@Html.TextBox("NikName", "", new { disabled = "disabled", value = "" })</span>
                    <span>@Html.ValidationMessage("NikName")</span>
                </div>
            </div>
            @Html.Action("captcha")
            <div>
                <input id="Login" type="submit" value="ورود" />
            </div>
        </div>
    </fieldset>
    }
}
else
{
    using (Ajax.BeginForm("DoLogin", "Home", new { area = "" }, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "result", LoadingElementId = "mainLoading", Confirm = "آیا قصد خروج از سایت را دارید؟" }, new { id = "Login" }))
    {
    <fieldset>
        <legend>مشخصات کاربر</legend>
        @Html.Hidden("login_type", "3")
        <table>
            <tr>
                <td class="lable">نام مستعار:</td>
                <td class="lable">@(Model.NikName)</td>
            </tr>
            <tr>
                <td class="lable">نام کاربری:</td>
                <td class="lable">@(Model.Mail)</td>
            </tr>

            <tr>
                <td colspan="3">
                    <input id="Login" type="submit" value="خروج" />
                </td>
            </tr>
        </table>
    </fieldset>
    }
}
<div id="result"></div>
