﻿@{
    Layout = null;
    var crt = Shary.Models.UserManager.CurrentUser;
    var types = new string[] { "Image", "Audio", "Video", "Text", "BackUp" };
}
<fieldset class="menu-content">
    <legend>امکانات سایت</legend>
    <ul>
        <li>
            @Html.ActionLink("صفحه اصلی", "Index", "Home", new { area = "" }, new { })
        </li>
        @if (!crt.ISAnonymous && crt.Roles.Any(q => q.Role.Name == "Admin"))
        {
            <li>
                @Html.ActionLink("مدیریت کاربران", "Users", "Admin", new { area = "Admin" }, null)
            </li>
        }
        @if (!crt.ISAnonymous && crt.Roles.Any(q => q.Role.Name == "PostManager"))
        {
            <li>
                @Html.ActionLink("افزودن پست جدید", "Manage", "Post", new { area = "Post", id = crt.Id }, null)
            </li>
        }
    </ul>
</fieldset>
<fieldset class="menu-content">
    <legend>جست و جو</legend>
    @using (Ajax.BeginForm("Search", "Home", new { }, new AjaxOptions { UpdateTargetId = "main", HttpMethod = "Post", InsertionMode = InsertionMode.Replace, LoadingElementId = "mainLoading" }, new { id = "schForm" }))
    {
        <table>
            <tr>
                <td>عتوان:</td>
                <td>
                    <input type="text" id="title" name="Title" />
                </td>
            </tr>
            <tr>
                <td>نوع:</td>
                <td>@Html.DropDownList("Type", new SelectList(types))
                </td>
            </tr>
            <tr>
                <td>Tag:</td>
                <td>
                    <input id="Tag" name="Tag" type="text" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input id="schForm" type="submit" value="جست و جو" />
                </td>
            </tr>
        </table>
    }
</fieldset>
