﻿@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        $("#cpr").click(function () {
            $("#captcha").html('').load("@(Url.Action("refCpr"))");
        });
    });
</script>
<div id="captcha">
    @Html.Action("captcha")
    <a id="cpr">Reload</a>
</div>
