﻿@using Shary.Data.Enumerations
@model IEnumerable<Shary.Data.CMS.User>
@{
    Layout = null;
}
<table class="data-list">
    <thead>
        <tr>
            <th>نام کاربری</th>
            <th>نام مستعار</th>
            <th>وضعیت کاربر</th>
            <th>کنترل</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count() > 0)
        {
            foreach (var usr in Model)
            {
            <tr>
                <td class="center-text">@(usr.Mail)</td>
                <td class="center-text">@(usr.NikName)</td>
                @if ((usr.Status & (byte)UserStatus.Protected) != 0)
                {
                    <td class="green center-text" colspan="3">محافظت شده</td>
                }
                else
                {
                    if ((usr.Status & (byte)UserStatus.Active) != 0)
                    {
                    <td>
                        @Ajax.ActionLink("فعال", "DeactiveUser", new { id = usr.Id }, new AjaxOptions { HttpMethod = "Post", Confirm = "پس از غیر فعال کردن، این نام کاربری دیگر امکان ورود به سایت را نخواهد داشت.", LoadingElementId = "mainLoading", UpdateTargetId = "UserList" }, new { Class = "green center-text" })
                    </td>
                    }
                    else
                    {
                    <td>
                        @Ajax.ActionLink("غیر فعال", "ActivateUser", new { id = usr.Id }, new AjaxOptions { HttpMethod = "Post", Confirm = "پس از غیر فعال کردن، این نام کاربری دیگر امکان ورود به سایت را نخواهد داشت.", LoadingElementId = "mainLoading", UpdateTargetId = "UserList" }, new { Class = "red center-text" })
                    </td>
                    }
                    <td class="center-text">
                        @Html.ActionLink("ویرایش نقش ها", "EditRoles", "Admin", new { area = "Admin" }, new { })
                    </td>
                }
            </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3" style="text-align: center;">هیچ کاربری یافت نشد.</td>
            </tr>
        }
    </tbody>
</table>
