﻿@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<fieldset>
    <legend>لیست کاربران</legend>
    <div id="UserList">
        @Html.Action("UsersIx")
    </div>
</fieldset>
